*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
     /* min-width: 1200px; */
}
/* header starts */
.contact-info a{
    text-decoration: none;
    color: #696969;
}
.c-icon{
    color:#5e8849;
    margin-right: 2px;
}
.m-icon{
    font-size: 0.9rem;
}
.contact-info p{
    font-size: 0.76rem;
}
.logo{
    width: 200px;
}.media{
text-align: right;
}
.contact span{
    margin-right: 1rem;
}
.social{
    border: 1px solid #f4f2e8;
    padding: 5px 9px;
    border-radius: 100%;
    color: #696969;
    background-color: #f4f2e8;
    margin-right: 0.5rem;
}
.twitter{
    border: 1px solid #f4f2e8;
    padding: 5.5px 9px;
    border-radius: 100%;
    margin-right: 0.5rem; 
}
.fb{
    border: 1px solid #f4f2e8;
    padding: 5px 11px;
    border-radius: 100%;
}
/* header ends */

/* nav-starts */
.search{
    width: 7rem;
    border: 1px solid #605d7d;
    border-radius: 25px;
    padding-left: 20px;
    outline: none;
    display: none;
    font-size: 0.8rem;
    color: #605d7d;
}
.search-icon{
    font-size: 1.3rem;
    padding: 0px 10px;
    vertical-align: middle;
    color: #605d7d;
}
.navbar-element p span{
    font-size: 0.8rem;
    margin: 0px 16px;
    color: #8f8e8e;
    padding: 8px 10px;
    border-radius: 5px;
}
.navbar-element p span.home{
    color: #403f4e;
    background-color: #e3e652;
}
nav{
    padding-top: 1.2rem;
    background-color: #f4f2e8;
}
.cart{
    color: #535163;
    font-size: 1.1rem;
}
.navbar-item:hover{
    background-color: rgb(230, 230, 139);
}
/* nav-ends */

/* welcome starts */
@keyframes shrink {
    0% {
      width: 100%;
    }
    100% {
      width: 106%;
    }
  }



  .welcome , .slidearea {
    height: 540px;
    overflow: hidden;
}
.dummywelcome{
    background-color: #504817;
 
}
.slidearea {    
      background-color: #504817;
  }
  

  .slideimg{
      width: 100%;
    animation: shrink 15s infinite alternate;
}
.carousel-caption h1 {
    text-transform: uppercase;
    font-size: 5rem;
    font-family: monospace;
}
.carousel-item {
position: relative;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 22%;
    left: 15%;
    z-index: 10;
    padding-top: 0px; 
    padding-bottom: 0px; 
    color: #fff;
    text-align: left;
    width: 50%;
}
.carousel-caption p{
    font-size: 0.8rem;
    width: 236px;
    font-weight: bold;
    border-bottom: 5px double #eddd5e;
}
.carousel-caption button{
    outline: none;
    border: 1px solid #eddd5e;
    padding: 0.9rem;
    background-color: #eddd5e;
    border-radius: 4px;
    font-size: 0.9rem;
}
.carousel .carousel-indicators li{
    border-radius: 100%;
    height: 10px;
    width: 10px;
}
.carousel .carousel-indicators{
    left: unset;
    right: 0 !important;
    bottom: 40%;
    transform: rotate(90deg);
}
.carousel-control-next{
    top: unset;

    font-size: 0.8rem;
    width: 118px;
    padding: 1.4rem 0.6rem;
    background-color: #3e4e3d;
    opacity: 1;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.carousel-control-prev {
    top: unset;
    left: unset;
    font-size: 0.8rem;
    width: 118px;
    right: 118px;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    padding: 1.4rem 0.6rem;
    color: #000;
    background-color: white;
    opacity: 1;
}
.carousel-control-prev:hover{
    color: black;
}
.prev{
    margin-left:1rem ;
}
.next{
    margin-right: 1rem;
}
/* welcome ends */


/* Serives starts */
.services{
    background: #f5f0e8;
padding-bottom: 5rem;
height: 590px;
overflow: hidden;
}
.services .heading{
    text-align: center;
    padding: 50px 0px;
    font-family: monospace;
}
.services .heading p{
    color:#3e4e3d;
    font-size: 14px;
}
.vegetables{
    padding:0 50px;
}
.services .heading h1,.vegetables .col-3 h4{
    font-size: 32px;
    font-family: monospace;
}
.services  .heading h1{
    position: relative;
}
.services .heading h1::after{
    content: '';
    position: absolute;
    width: 65px;
    background: #f0e37b;
    height: 5px;
    right: 0;
    left: 47.5%;
    border-radius: 1px;
    bottom: -15px;
}
.vegetables .col-3 h4,.vegetables .col-3 p{
    padding:10px 30px;
}
.vegetables .col-3 h4{
    font-size: 18px;
    padding-top: 30px;
    margin: 0;
    line-height: 24px;
}
.vegetables .col-3 p{
    font-size: 12px;
    line-height: 24px;
}
.vegetables .col-3{
    overflow: hidden;
}
.vegetables .col-3 img{
    height: 125px;
    width: 100%;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.vegetables .veg-container{
    background: #fff;
    border-radius: 4px;
}
.veg-container{
    opacity: 0;
    margin-top: 410px;
}
/* services ends */


/* product start */
.agri-product::before{
    content: '';
    background: yellow;
    width: 32px;
    height: 3px;
    margin: 0px 7px;
    vertical-align: middle;
    display: inline-block;
}
.agri-product::after{
    content: '';
    background: yellow;
    width: 32px;
    height: 3px;
    margin: 0px 7px;
    vertical-align: middle;
    display: inline-block;
}
.productimg img{
    width: 170px;
    height: 170px;
}
.productimg {
    padding: 2% 10% 0% 10%; 
}
.productcontainer{
    text-align: center;
    color: white;
    padding: 40px 20px 20px 20px;
    background-color: #157515;
opacity: 0.7;
border-radius: 5px;
}
.productcontainer{
    font-size: 1.2rem;
    font-family: monospace;
    margin-right: 1rem;
    text-transform: uppercase;
}
.pc-box{
 margin: 2rem 0rem 4rem 0rem;
}
/* product ends */

/* customer talk starts*/
.testimonycontent{
    position: relative;
}
.man{
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

.customerreview .heading{

    padding: 25px 0px;
    font-family: monospace;
}
.customerreview .heading p{
    color:#3e4e3d;
    font-size: 0.6rem;
    margin-bottom: 5px;
}
.customerreview .heading h1{
    font-size: 32px;
    font-family: monospace;
}
.customerreview .heading h1{
    position: relative;
}
.customerreview .heading h1::after{
    content: '';
    position: absolute;
    width: 65px;
    background: #f0e37b;
    height: 5px;
    left: 0;
    border-radius: 1px;
    bottom: -15px;
}
p.customerlorem{
margin-top: 1rem;
    font-size: 0.8rem;
    line-height: 27px;
    color: #717070;
}
.customerreview{
    padding: 2rem;
}
.testimonycontent{    
    background-color: #5b8c51;
    color: white;
    position: relative;
    top: 8rem;
    border-radius: 3px;
    padding: 4rem 5rem 4rem 4rem;
}
.testimonycontent:first-child{    
font-size: 1.3rem;
font-weight: normal;
}
.dolor{
    position: relative;
    padding-bottom: 30px;
}
.dolor::after{
    content: '';
    width: 100%;
    height: 0.5px;
    background: rgb(218 203 203);
    position: absolute;
    bottom: -10px;
    left: 0px;    
}
.customer img{
    vertical-align: bottom;
    display: inline-block;
} .customer p{
    padding-top: 30px;
    font-size: 0.8rem;
    margin-left: 10px;
    width: calc(100% - 90px);
    display: inline-block;
    margin-bottom: 0px;
}

.testimonycontent .carousel-indicators li{
    border-radius: 100%;
    height: 10px;
    width: 10px;
}

.testimonycontent .carousel-indicators{
    left: unset;
    right: 0 !important;
    bottom: 7%;
    transform: rotate(0deg);
}
.customertalk{
    background-color: #f5f0e8;
}
.dummycontainer{
padding-bottom: 170px;
position: relative;
margin-bottom: 20px;
}
.dummycontainer::after{
content: '';
position: absolute;
bottom: -15px;
width: 400px;
left: 225px;
height: 1px;
background: wheat;
}

.testimonycontent{
    position: relative;
}
.testimonycontent::after{
    content: '';
    position: absolute;
    bottom: -13px;
    width: 400px;
    z-index: -1;
    left: 22px;
    border-radius: 2px;
    height: 22px;
    background: #f8f4ef;
}
.testimonycontent::before{
    content: '';
    position: absolute;
    bottom: -23px;
    width: 370px;
    z-index: -1;
    left: 37px;
    border-radius: 2px;
    height: 22px;
    background: #fbf9f6;
}
/* customer talk ends */




/* recents starts */

.recent .heading{
    text-align: center;
    padding: 50px 0px;
    font-family: monospace;
}
.recent .heading p{
    color:#3e4e3d;
    font-size: 14px;
}
.recent .heading h1{
    font-size: 32px;
    font-family: monospace;
}
.recent .heading h1{
    position: relative;
}
.recent .heading h1::after{
    content: '';
    position: absolute;
    width: 65px;
    background: #f0e37b;
    height: 5px;
    right: 0;
    left: 47.5%;
    border-radius: 1px;
    bottom: -15px;
}
.projects img {
    width: 117%;
    margin: 0px;
    height: 380px;
    text-align: center;
    border-radius: 3px;
}
.projectimage{
position: relative;
}
.projectimage::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 117%;
    height: 380px;
    z-index: 1;
    background: linear-gradient(to top,rgb(39 32 32 / 66%),transparent);
}
.our-project{
    position: relative;
    z-index: 2;
    border-radius: 3px;
}

.our-project h3{
    position: absolute;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: monospace;
    bottom: 0px;
    color: white;
    padding: 1.1rem 1.3rem 1.5rem 1.3rem;
    z-index: 2;    
}

.our-project h3::first-letter{
    font-size: 2.6rem;
}

.projectcontainer{
    margin: 0% 2.13%;
}
.pc1{
    margin-left: 8%;
}

/* recents ends */


/* eco-farming-starts */
.eco{
    color: white;
    background-color: #3e4e3d;
    position: relative;
    top:-100px;
}
.eco .heading{
    padding: 50px 0px;
    font-family: monospace;
}
.ecodummy .heading p{
    margin-bottom: 0px;
    font-size: 0.6rem;
}
.eco .heading h1{
    font-size: 32px;
    font-family: monospace;
}
.eco .heading h1{
    position: relative;
}
.eco .heading h1::after{
    content: '';
    position: absolute;
    width: 65px;
    background: #f0e37b;
    height: 5px;
    left: 0;
    border-radius: 1px;
    bottom: -15px;
}
.ecocontent{
    padding: 10px 160px 0px 24px;
    line-height: 27px;
    font-size: 0.89rem;
}
.ecodummy{
    padding: 8rem 0rem 1rem 1rem;
}
.grainwall{
    width: 100%;

}
/* eco-farming-ends */


/* agriculture start */
.img-banner{
    height: 600px;
    position: relative;
    margin-top: 5rem;

}
.grey-circle{
    position: absolute;
    height: 300px;
    border-radius: 100%;
    background: #f5f0e8;
    width: 300px;
    top: 100px;
}
.img-circle,.img-circle::after{
    position: absolute;
    height: 90px;
    border-radius: 100%;
    background: #eddd5e;
    width: 90px;
    top: 205px;
    text-align: center;
    left: 120px;
    z-index: 1;
}
.img-circle::after{
    content: '';
    background: none;
    height: 115px;
    width: 115px;
    border: 1px dashed #eddd5e;
    top: -13px;
    left: -13px;
}
.img-circle img{
    width: 70%;
    margin-top: 12px;
}
.img-container{
    position: absolute;
    left: 155px;
    top: 25px;
    bottom: 0;
}
.img-container img:first-child{
    height: 430px;
    width: 320px;
    border-radius: 2px;
}
.img-container img:last-child{
    height: 225px;
    width: 300px;
    position: absolute;
    bottom: 86px;
    right: -75px;
    border-radius: 2px;
}
.leader h4{
font-size: 0.7rem;
font-weight: normal;
color: #404a3d;
text-transform: uppercase;
}
.leader h1{
    position: relative;
}
    .leader h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-family: monospace
}
.leader h1::after{
    content: '';
    position: absolute;
    width: 65px;
    background: #f0e37b;
    height: 5px;
    border-radius: 1px;
    bottom: -10px;
    left: 0px;
}
.growing img{
    width: 50px;
}
.sqwarey h3{
    font-size: 2rem;
    font-size: 1.4rem;
    font-weight: normal;
}
.leader{    
    margin-top: 6.3rem;
    padding-left: 2rem;
}
.leader p{
font-size: 0.8rem;
color:rgb(84 76 76);
padding: 1.7rem 0rem;
}

.leader button{
    outline: none;
    border: 1px solid #eddd5e;
    padding: 0.9rem 1.9rem;
    background-color: #eddd5e;
    border-radius: 4px;
    font-size: 0.9rem;
}
/* agriculture ends */


/* agri matter- ends */
.agrimatter{
    background: url(../images/grains.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left;
}
.dummymatter{
    background-color: #0000007d;

}
.matter{
    text-align: center;
    padding: 4rem 0rem 3rem 0rem;

}
.play{
    border: 1px solid #eddd5e;
    padding: 1.3rem 1.6rem;
    background-color: #eddd5e;
    border-radius: 3px;
}
.playbutton{
    border: 1px solid #fff7b6;
    width: 5rem;
    border-radius: 3px;
    padding: 30px 7px;
}
.morden{
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    margin: 3rem 0rem 0.5rem 0rem;
    color: #eddd5e;
}
.matter h1{
    font-family: monospace;
    font-size: 3.7rem;
    text-transform: uppercase;
    color: white;
    padding: 0rem 7rem 1rem 7rem;
}
/* agri matter- ends */




/* counter starts */
.counter{
    background-color: #f5f0e8;
    margin-top: -7.5rem;
    padding-top: 7rem;
}
.countimage{
width: 100%;
height: 480px;
    border-radius: 3px;
}
.image-counter{
    margin-left: 4rem;
    border-radius: 5px;
}
.experience{
        width: 46%;
    background-color: #eddd5e;
    padding: 40px 40px 30px 55px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    bottom: -40px;
    left: 56px;
}
.experience p{
font-size: 0.8rem;
color: #5b5c32;
}
.year{
    font-size: 2rem;
    font-family: monospace;
}

.percentage-counter{
    width: 100%;
    padding: 2rem 2rem 2rem 4rem;
    height: 450px;
    border-radius: 5px;
    background-color: white;
    position: relative;
    top: 7rem;
    left: -6rem;
    box-shadow: 1px 2px 16px -4.5px #b1b0b0;
}
.percentage-counter .heading{
    padding: 30px 0px;
    font-family: monospace;
}
.percentage-counter .heading p{
    color:#3e4e3d;
    font-size: 0.6rem;
    margin-bottom: 0px;
    padding-bottom: 2px;

}
.percentage-counter .heading h1{
    font-size: 32px;
    font-family: monospace;
}
.percentage-counter .heading h1{
    position: relative;
}
.percentage-counter .heading h1::after{
    content: '';
    position: absolute;
    width: 65px;
    background: #f0e37b;
    height: 5px;
    left: 0;
    border-radius: 1px;
    bottom: -15px;
}
.percentage-counter p{
    font-size: 0.8rem;
    line-height: 25px;
    margin-bottom: 0px;
    padding-bottom: 1rem;
}
.agriprecent{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    position: relative;
    border: 1px solid green;
}
.dummyagriprecent{
    width: 0%;
    height: 10px;
    border-radius: 10px;
    background-color: green;
    position: absolute;
    bottom: -1px;

}
.organincprecent{
    width: 100%;
    height: 10px;
    border-radius: 10px;
    position: relative;
    border: 1px solid green;
}
.dummyorganincprecent{
    width: 0%;
    height: 10px;
    border-radius: 10px;
    background-color: green;
    position: absolute;
    bottom: -1px;

}
.percentage-counter h4{
    font-size: 0.9rem;
    padding: 0.5rem 0rem;
    width: 20%;
    display: inline-block;
    margin-right: 69%;
}

.presentorganic,.presentagri{
    display: inline-block;
    font-size: 0.8rem;

}

/* counter ends */

/* Artical starts */
.artical{
position: relative;
margin-top: 6rem;
}
.artical .heading{
    text-align: center;
    padding: 50px 0px;
    font-family: monospace;
}
.artical .heading p{
    color:#3e4e3d;
    font-size: 14px;
}
.artical .heading h1{
    font-size: 32px;
    font-family: monospace;
}
.artical .heading h1{
    position: relative;
}
.artical .heading h1::after{
    content: '';
    position: absolute;
    width: 65px;
    background: #f0e37b;
    height: 5px;
    right: 0;
    left: 47.5%;
    border-radius: 1px;
    bottom: -15px;
}
.blog img {
    width: 100%;
    margin: 0px;
    height: 180px;
    text-align: center;
    border-radius: 3px;
}

.blog-contnent{
    margin: 0px 9px;
    text-align: center;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    position: relative;
    bottom: 10px;
    background-color: white;
}
.blog-contnent p{
font-size: 0.83rem;
line-height: 23Spx;
color: rgb(112, 107, 107);
}
.blog-contnent p:first-child span{
    padding: 1.2rem 0rem 0rem 0rem;
    width: 40%;
    color: #157515;
    font-size: 0.7rem;
    display: inline-block;
}
.blog-contnent h3{
    font-size: 1.45rem;
    text-transform: capitalize;
}
.read-icon{
    background-color: rgb(231, 231, 120);
    border: 1px solid rgb(231, 231, 120);
    border-radius: 100%;
    padding: 5px;
}
p.read{
    font-size: 0.75rem;
    color: #211e1e;
    cursor: pointer;
}
.read-icon{
    font-weight: bold;
    font-size: 0.64rem;
    padding-left: 4.2px;
    line-height: 1px;
    background-color: rgb(255 255 58);
    border: 1px solid rgb(231, 231, 120);
    border-radius: 100%;
    width: 13px;
    height: 12px;
}
/* artical ends */





/* qualityproduct-starts */

.qualityproduct{
    background: url(../images/formmachine.jpg) no-repeat;
    background-size: cover;
}
.provoider{
    text-align: center;
    color: white;
}
.dummyprovoider{
    background-color: rgb(86 116 76 / 88%);
}
.provoider h1{
font-family: monospace;
font-size: 3.5rem;
text-transform: uppercase;
padding-top: 6rem;
padding-bottom: 1rem;
}
.provoider p{
    padding-bottom: 1rem;
    font-size: 0.86rem;
}
.provoider button{
    outline: none;
    border: 1px solid #eddd5e;
    padding: 0.9rem;
    background-color: #eddd5e;
    border-radius: 4px;
    font-size: 0.9rem;
    margin: 1.2rem 0rem 4rem 0rem;
}

/* qualityproduct-ends */



/* footer starts*/

.template img{
    width: 50px;
    vertical-align: top;
    margin-top: 12px;
    margin-right: 10px;
    display: inline-block;
    border-radius: 2px;
}
.footercontact{
    padding: 0px;

}
.socialfooter{
    padding: 7px 11px;
}
.twitterfooter{
    padding: 7.5px 11px;
    border-radius: 100%;
}
.fbfooter{
    padding: 7px 13px;
}
.footer h3{
    font-size: 1.2rem;
    padding:14px 0px 5px 0px;
    width: 20px;
    font-family: monospace;
    color: rgb(235, 235, 235);
    border-bottom: 3px solid #eddd5e;
}
footer{
    background-color: #404a3d;
    padding-top: 2rem;
}
.footer p{
    color: #cccecb;
    font-size: 0.82rem;
    padding:0.4rem 0rem;
}
p.emailverify{
    padding: 1rem 1rem;
    padding-right: 0px;
    border-radius: 3px;
    background-color: #394336;
}
.check{
    text-align: right;
    margin-left: 50%;
    color: #eddd5e;
}
.explore ul{
    padding-inline-start: 0px;
}
.explore ul li{
list-style-type: none;
color:  #cccecb;
font-size: 0.82rem;
padding:0.1rem 0rem;
}
.news p{
    display: inline-block;
    width: calc(100% - 65px);
}
.template p span{
    color: #eddd5e;
}
.contact a{
    color:  #404a3d;
}
a.contactid{
    color:  #eddd5e;
}
p.copy{
    float: left;
}
p.privacy{
    float:right;
}
.copyright br{
    clear: both;
}
.footercopyright {
background-color: #394336;
padding-top: 2rem;
position: relative;
}
.copyright p{
font-size: 0.8rem;    
color:  #cccecb;
}

p.privacy span{
    margin-left: 1rem;
    margin-right: 1rem;
}
.up{
    border: 1px solid #5b8c51;
    padding: 6px 9px;
    border-radius: 100%;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    background-color: #5b8c51;
    margin-right: 0.5rem;
}
.pageup{
    position: absolute;
    bottom: 10px;
    right: 0px;
}
/* foter ends */
 
